<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Researcher</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
</head>
<body>
    <main class="container">
        <h1>Wilkommen to our Company Researcher</h1>
    
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="company_name" placeholder="Company Name">
            <button type="submit">Search the company</button>
        </form>
    </main>

    <script>
        const ws = new WebSocket("ws://localhost:8000/ws/notifications/");

        ws.onmessage = function(event) {
            console.log(event.data)
        }

        ws.onopen = function(event) {
            console.log("Connected To Websocket");
        }

        ws.onclose = function(event) {
            console.log("Disconnected from websocket")
        }
    </script>
</body>
</html>